@import '../../styles/vars';

.btn {
  height: 33px;

  border: 1px solid $accent-color;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 5px 45px 7px 45px;

  font-family: $text-font;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.02em;
  cursor: pointer;
  &-topline {
    margin-top: 21px;
    margin-bottom: 0;
    margin-left: 47px;
    padding-left: 20px;
    padding-right: 20px;
  }
  &-margin-top0 {
    margin-top: 0 !important;
  }
  &-outline {
    background-color: #ffffff !important;
    color: $accent-color !important;
  }
  &-primary {
    border: 1px solid $accent-color;
    background: $accent-color;
    color: white;
  }
  &-white {
    border: 1px solid white;
    box-sizing: border-box;
    border-radius: 6px;
    color: white;
    background-color: transparent;
  }
  &-size-s {
    width: auto;
  }
  &-size-m {
  }
  &-size-l {
    width: 433px;
  }
  &[disabled] {
    background-color: $disabled-accent-color !important;
    border-color: $disabled-accent-color !important;
    cursor: not-allowed;
  }
}
