@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Nunito:wght@600&display=swap');
@import 'grid';
@import 'vars';
@import 'layout';

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: $text-font;
  font-style: normal;
  font-weight: normal;
}

html,
body,
#root {
  height: 100%;
}

body,
#root {
  margin: 0;
  padding: 0;
}
.flex {
  display: flex;
  &-col {
    display: flex;
    flex-direction: column;
  }
  &-centr {
    justify-content: center;
    align-items: center;
  }
  &__left,
  &__right {
    flex: 1 0 50%;
    white-space: nowrap;
  }
}

.no-pad-left {
  padding-left: 0 !important;
}
.no-pad-right {
  padding-right: 0 !important;
}
.no-pad {
  padding: 0 !important;
  &-res1136 {
    padding-left: 2px !important;
    padding-right: 2px !important;
  }
}
.column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $dark-color;
  font-family: $header-font;
  font-style: normal;
  font-weight: normal;
}

.btn-black {
  height: 56;
  display: flex;
  flex-direction: row;
  padding: 18px 40px;
  background: $transparent-bg;
  border: 1px solid $black-color;
  outline: none;
  cursor: pointer;
}
