$left-col-anim-timing: 200ms ease;

.app {
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: flex;
  position: relative;
  &__container {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
    &-half {
      flex-direction: row;
    }
    &-sm {
      margin-left: 35px;
      margin-right: 35px;
    }
  }
  &__left-item {
    flex-grow: 1;
  }
  &__left-col {
    background-color: $app-left-col-bg;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    width: 0;
    min-width: 0;
    padding: 121px 0 0 0;
    overflow-x: hidden;
    transition: all $left-col-anim-timing;
    &_opened {
      min-width: 514px;
      width: 514px;
      padding: 121px 0 40px 0;
    }
  }
  &__right-col {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: #ffffff;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.06);
    border-left: 1px solid #f0f0f0;
    &-down {
      margin-top: 47px;
      flex: 1;
    }
  }
}

.logo {
  position: absolute;
  left: 50px;
  top: 33px;
  display: flex;
  text-decoration: none;
  &__name {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    width: 87px;
    height: 44px;
    color: $logo-color;
    user-select: none;
  }
  &__dot {
    width: 7px;
    height: 7px;
    margin-left: 3px;
    margin-top: 26px;
    background-color: $accent-color;
    border-radius: 50%;
  }
}
