$black-color: #000000;
$dark-color: #393640;
$bg-color: #eeeeeb;
$bg-color-white: #ffffff;
$accent-color: #0038ff;
$disabled-accent-color: #8aa2f5;

$logo-color: #393640;

$text-font: 'Manrope';
$header-font: 'Manrope';

$app-left-col-bg: #f9f9fa;
$top-line-icon-btn-color: #393640;

$text-color-light: #c2c1c6;

$breakpoint-tablet: 767px;
$breakpoint-desktop: 768px;
$breakpoint-desktop992: 992px;
$breakpoint-desktop1200: 1200px;

$breakpoint-shift1200: 50px;
$breakpoint-shift992: 42.69px;
$breakpoint-shift768: 33px;
$breakpoint-shift375: 20px;

$transparent-bg: rgba(255, 255, 255, 0.24);
$mp-transparent-bg: rgba(255, 255, 255, 0.24);

$footer-picker-height: 78px;
$footer-picker-bottom: 23px;
$material-block-height: calc(100% - (#{$footer-picker-height} + #{$footer-picker-bottom}));
