@import 'styles/vars';

.mtrl {
  display: block;
  width: 100%;
  height: 100%;
  boxsizing: border-box;
  position: relative;
  &__canvas {
    flex: 0 0 100%; /* Let it fill the entire space horizontally */
    height: 100%;
  }
  &__frame {
    display: inline-block;
    padding: 5px;
    position: relative;
  }
  &__cover {
    cursor: pointer;
    border: 2px solid transparent;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    &_active {
      border: 2px solid $accent-color;
      cursor: move;
      box-shadow: none;
    }
  }
  &__drag-corner {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #ffffff;
    border: 2px solid $accent-color;
    cursor: nesw-resize;
  }
  &__rotator {
    margin: 8px;
    display: block;
    height: calc(100% - 16px);
    position: relative;
    &-cntrl {
      position: absolute;
      width: 12px;
      height: 12px;
      background: #ffffff;
      border: 2px solid $accent-color;
      border-radius: 50%;
      cursor: pointer;
    }
    &-inner {
      display: block;
      height: 100%;
    }
  }
}

.mtrl * {
  user-select: none;
}

.resize-cursor__right {
  cursor: nesw-resize;
}
.resize-cursor__left {
  cursor: nwse-resize;
}
