@import 'styles/vars';

@keyframes blinkRed {
  from {
    border: 5px dotted transparent;
  }

  to {
    border: 5px dotted #aa0000;
  }
}

.mtrl {
  display: block;
  width: 100%;
  height: $material-block-height;
  box-sizing: border-box;
  position: relative;
  border: 5px dotted transparent;
  transition: border ease-out 250ms;
  &_bordered {
    border: 5px dotted $accent-color;
    &-blink {
      animation-duration: 350ms;
      animation-name: blinkRed;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
  }
  &__canvas {
    flex: 0 0 100%; /* Let it fill the entire space horizontally */
    height: 100%;
  }
  &__frame {
    display: inline-block;
    padding: 5px;
    position: relative;
    width: 100%;
    height: 100%;
  }
  &__cover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    position: absolute;
    background-repeat: repeat-y;
    &_active {
      border: 2px solid $accent-color !important;
      box-shadow: none;
    }
  }
  &__drag-corner {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #ffffff;
    border: 2px solid $accent-color;
    cursor: nesw-resize;
  }
  &__buffer {
    padding: 8px;
    height: 100%;
    cursor: auto;
  }
  &__rotator {
    display: block;
    height: 100%;
    position: relative;
    &-cntrl {
      position: absolute;
      width: 12px;
      height: 12px;
      background: #ffffff;
      border: 2px solid $accent-color;
      border-radius: 50%;
      cursor: pointer;
    }
    &-inner {
      display: block;
      height: 100%;
      cursor: pointer;
      &_active {
        cursor: move !important;
      }
    }
  }
}

.mtrl * {
  user-select: none;
}

.resize-cursor__right {
  cursor: nesw-resize;
}
.resize-cursor__left {
  cursor: nwse-resize;
}
