@import "vars";

@function calcCol($num, $total) {
  @return calc(#{$num}/#{$total} * 100%);
}

$columns: 12;

@mixin column {
  flex-basis: calcCol(1, 12);
  -ms-flex: auto;
  width: 259px;
  position: relative;
  box-sizing: border-box;
  padding-left: 8px;
  padding-right: 8px;
}

@mixin col-list($total_columns, $prefix: "") {
  @for $i from 1 through $total_columns {
    .col#{$prefix}-#{$i} {
      @include column;
      flex-basis: calcCol($i, $total_columns);
    }
  }
}

@mixin col-offset-list($total_columns, $prefix: "") {
  @for $i from 1 through $total_columns {
    .offset#{$prefix}-#{$i} {
      margin-left: calcCol($i, $total_columns);
    }
  }
}

.container {
  max-width: 1336px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-left: -8px;
  margin-right: -8px;
}

.col {
  @include column;
}

@include col-list($columns);
@include col-offset-list($columns);

/* XL - Large desktop >= 1400 */
@media (min-width: 1400px) {
  .container {
    max-width: 1136px;
  }
}

/* LG - desktop = 1200 to 1399 */
@media (max-width: 1399px) {
  .container {
    max-width: 1136px;
  }
}

/* MD - medium desktop = 992 to 1199 */
@media (max-width: 1199px) {
  .container {
    max-width: 970px;
  }
}

/* SM - tablets = 768 to 991 */
@media (max-width: 991px) {
  @include col-list(4, "-sm");
  @include col-offset-list(4, "-sm");

  .col {
    flex-basis: calcCol(1, 4);
  }
  .container {
    max-width: 750px;
  }
}

/* XS - phones  = 370 to 767 */
@media (max-width: 767px) {
  @include col-list(4, "-xs");
  @include col-offset-list(4, "-xs");

  .col {
    flex-basis: calcCol(1, 4);
  }

  .container {
    max-width: calc(100% - 30px);
  }
}
