@import '../../styles/vars';

.mat-picker {
  &__head {
    display: flex;
    margin-top: 21px;
  }
  &__padding-sm {
    margin-left: 5px;
    margin-right: 5px;
  }
  &__title {
    height: 20px;

    font-family: $text-font;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: $dark-color;
    flex-grow: 0;
    &-info {
      height: 20px;
      font-family: $text-font;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 20px;
      text-align: right;
      letter-spacing: 0.02em;
      flex-grow: 1;
      color: $text-color-light;
      & > span {
        color: $dark-color;
      }
    }
  }
  &__body {
    margin-top: 21px;
    flex-wrap: wrap;
    gap: 12px;
    width: calc(100% + 17px);
    margin-left: 5px;
    position: relative;
  }
  &__item {
    box-sizing: content-box;
    display: inline-block;
    width: 58px;
    height: 58px;
    border-radius: 10px;
    border: 0;
    margin: 0 17px 17px 0;
    background-color: #c2c1c6;
    &-selected {
      // position: absolute;
      //top: -5px;
      //left: -5px;
      //width: 68px;
      //height: 68px;
      //border: 2px solid $accent-color;
      //box-sizing: border-box;
      //border-radius: 14px;
      &::after {
        display: block;
        position: relative;
        z-index: 100;
        content: '';
        border: 2px solid $accent-color;
        box-sizing: border-box;
        width: 68px;
        height: 68px;
        border-radius: 14px;
        left: -5px;
        top: -5px;
      }
    }
  }
}
